@use '@vuepress/theme-default/styles/variables' as *;

:root {
  /* Marmot */
  --mm-black: #1a1716;
  --mm-white: #ffffff;

  --mm-marmot-200: #e7c9a2;
  --mm-marmot-300: #e7b574;
  --mm-marmot-400: #d49855;
  --mm-marmot-500: #c0793f;
  --mm-marmot-600: #9d592e;
  --mm-marmot-700: #6f3b1f;
  --mm-marmot-800: #483120;
  --mm-marmot-900: #2f1f13;

  --mm-toner-50: #FAFAFA;
  --mm-toner-100: #EEEEED;
  --mm-toner-200: #D6D4D3;
  --mm-toner-300:#BEBCBB;
  --mm-toner-400:#A7A4A2;
  --mm-toner-500:#8D8A87;
  --mm-toner-600: #73716E;
  --mm-toner-700: #615F5D;
  --mm-toner-800: #4D4C4A;
  --mm-toner-900: #393837;

  --mm-berry-50: #FFF8FD;
  --mm-berry-100: #FDE8F9;
  --mm-berry-900: #5E1D57;

  --mm-moss-50:#F6FBF8;
  --mm-moss-100:#E1F2E9;
  --mm-moss-500: #029F6C;
  --mm-moss-900: #173F2D;

  --mm-marine-50: #F6FBFC;
  --mm-marine-100: #E1F0F5;
  --mm-marine-500: #1698B1;
  --mm-marine-700: #1E6878;
  --mm-marine-900: #1A3D45;

  --mm-ember-50: #FFF9F6;
  --mm-ember-100: #FFE9E0;
  --mm-ember-900: #60270F;

  --mm-lilac: #8471B1;
  --mm-lilac-50: #FBF9FD;
  --mm-lilac-100: #F1ECF9;
  --mm-lilac-500: #987CD1;
  --mm-lilac-900: #3E3159;

  --mm-blush-50: #FFF8F9;
  --mm-blush-100: #FFE8EC;
  --mm-blush-900: #641F33;

  --mm-header-bg: var(--mm-toner-100);
  --mm-header-text: var(--mm-toner-900);

  /* Vuepress */
  // greys
  --vp-c-grey-soft: var(--mm-toner-200);
  --vp-c-grey-text: var(--mm-toner-600);

  // accent colors
  --vp-c-accent: var(--mm-black);
  --vp-c-accent-bg: var(--mm-black);
  --vp-c-accent-hover: var(--mm-toner-800);
  --vp-c-accent-text: var(--vp-c-white);
  --vp-c-accent-soft: var(--vp-c-grey-soft);

  // background colors
  --vp-c-bg: #fff;
  --vp-c-bg-alt: #f6f6f7;
  --vp-c-bg-elv: #fff;

  // text colors
  --vp-c-text: var(--mm-toner-900);
  --vp-c-text-mute: var(--mm-toner-800);
  --vp-c-text-subtle: var(--mm-toner-600);

  // border colors
  --vp-c-divider: var(--mm-black);
  --vp-c-border: var(--mm-black);
  --vp-c-border-hard: var(--mm-black);

  // shadow colors
  --vp-c-shadow: rgb(0 0 0 / 15%);

  // control colors
  --vp-c-control: rgb(142 150 170 / 10%);
  --vp-c-control-hover: rgb(142 150 170 / 16%);
  --vp-c-control-disabled: #eaeaea;

  // layout colors
  --vp-navbar-c-bg: var(--vp-c-bg);
  --vp-sidebar-c-bg: var(--vp-c-bg);

  // code group colors
  --vp-c-code-tab-title: var(--code-c-text, rgb(255 255 255 / 90%));
  --vp-c-code-tab-bg: var(--code-bg-color, var(--code-c-bg));
  --vp-c-code-tab-active: var(--vp-c-accent);

  // badge colors
  --badge-c-tip-text: var(--mm-moss-900);
  --badge-c-tip-bg: var(--mm-moss-100);
  --badge-c-warning-text: var(--mm-ember-900);
  --badge-c-warning-bg: var(--mm-ember-100);
  --badge-c-danger-text: var(--mm-berry-900);
  --badge-c-danger-bg: var(--mm-berry-100);
  --badge-c-important-text: var(--mm-ember-900);
  --badge-c-important-bg: var(--mm-ember-100);
  --badge-c-info-text: var(--mm-marine-900);
  --badge-c-info-bg: var(--mm-marine-100);
  --badge-c-note-text: var(--vp-c-grey-text);
  --badge-c-note-bg: var(--vp-c-grey-soft);

  // font vars
  --font-family: 'Zilla Slab', -apple-system, 'BlinkMacSystemFont', 'Segoe UI', roboto, oxygen, ubuntu, cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

  // layout vars
  --navbar-height: 4rem;
  --navbar-padding-v: 0.7rem;
  --navbar-padding-h: 1rem;
  --sidebar-width: 20rem;
  --sidebar-width-mobile: calc(var(--sidebar-width) * 0.82);
  --content-width: 40rem;

  // header offset
  --header-offset: 0;//var(--navbar-height);

  // transition vars
  --vp-t-color: 0.3s ease;
  --vp-t-transform: 0.3s ease;

  // external-link-icon
  --external-link-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M9 5v2h6.59L4 18.59 5.41 20 17 8.41V15h2V5H9z'/%3E%3C/svg%3E");
  --external-link-c-icon: var(--vp-c-text-mute);

  @media (min-width: ($MQMobile + 1)) {
    --navbar-height: 5rem;
    --sidebar-width: 17rem;
    --navbar-padding-h: 1.5rem;
  }
}

// Custom classen
.devkit {
  --mm-header-bg: var(--mm-marine-100);
  --mm-header-text: var(--mm-marine-700);
}

[vp-content] {
  .lead {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 3rem auto 4rem;
    text-align: center;
    max-width: 20em;
  }
  section {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;

    > div:not(.box) {
      color: var(--mm-toner-600);

      @media (max-width: 749px) {
        order: 1;
      }

      strong {
        font-weight: 600;
        color: var(--mm-toner-900);
      }
    }

    @media (min-width: 750px) {
      --gap-size: 3rem;
      flex-direction: row;
      align-items: start;
      margin: 3rem 0 4rem;
      gap: var(--gap-size);

      > div {
        flex: 1 0 calc(50% - var(--gap-size));
      }
    }

    .box {
      --box-text: var(--vp-c-text);
      --box-bg: var(--mm-toner-50);
      --box-heading-bg: var(--mm-toner-100);

      color: var(--box-text);
      background: var(--box-bg);
      padding: 1rem var(--navbar-padding-h);

      @media (max-width: 749px) {
        margin: 0 calc(var(--navbar-padding-h) * -1) 1rem;
        order: 0;

        &:nth-child(2) {
          margin-bottom: 1rem;
        }
      }

      &.blush {
        --box-text: var(--mm-blush-900);
        --box-bg: var(--mm-blush-50);
        --box-heading-bg: var(--mm-blush-100);
      }
      &.berry {
        --box-text: var(--mm-berry-900);
        --box-bg: var(--mm-berry-50);
        --box-heading-bg: var(--mm-berry-100);
      }
      &.ember {
        --box-text: var(--mm-ember-900);
        --box-bg: var(--mm-ember-50);
        --box-heading-bg: var(--mm-ember-100);
      }
      &.lilac {
        --box-text: var(--mm-lilac-900);
        --box-bg: var(--mm-lilac-50);
        --box-heading-bg: var(--mm-lilac-100);
      }
      &.marine {
        --box-text: var(--mm-marine-900);
        --box-bg: var(--mm-marine-50);
        --box-heading-bg: var(--mm-marine-100);
      }
      &.moss {
        --box-text: var(--mm-moss-900);
        --box-bg: var(--mm-moss-50);
        --box-heading-bg: var(--mm-moss-100);
      }

      h3 {
        color: var(--box-heading-text);
        background: var(--box-heading-bg);
        font-size: 1.5rem;
        font-weight: 700;
        padding: 1rem var(--navbar-padding-h);
        margin: -1rem calc(var(--navbar-padding-h) * -1) 1rem;
      }

      p {
        margin-top: 0;
        max-width: 30em;
      }

      :last-child {
        margin-bottom: 0;
      }
    }

    p {
      margin-top: 0;
    }

    :last-child {
      margin-bottom: 0;
    }
  }
}

// Overrides and additions to https://github.com/vuepress/ecosystem/blob/main/tools/helper/src/client/styles/normalize.scss
html {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3;
  scroll-padding-top: var(--navbar-height);

  @media (max-width: $MQMobile) {
    font-size: 20px;
  }
  @media (max-width: $MQMobileNarrow) {
    font-size: 18px;
  }
}

p,
ul,
ol {
  line-height: inherit;
}

a.header-anchor::before {
  content: none;
}
