@font-face {
  font-display: swap;
  font-family: 'Zilla Slab';
  font-style: normal;
  font-weight: 300;
  src: url('./zilla-slab-v12-latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Zilla Slab';
  font-style: normal;
  font-weight: 400;
  src: url('./zilla-slab-v12-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Zilla Slab';
  font-style: normal;
  font-weight: 500;
  src: url('./zilla-slab-v12-latin-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Zilla Slab';
  font-style: normal;
  font-weight: 600;
  src: url('./zilla-slab-v12-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Zilla Slab';
  font-style: normal;
  font-weight: 700;
  src: url('./zilla-slab-v12-latin-700.woff2') format('woff2');
}
