name: Deploy Docs

on:
  push:
    branches:
      - master

permissions:
  contents: write

jobs:
  deploy-gh-pages:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: Install Deps
        run: npm ci
      - name: Build Docs
        env:
          NODE_OPTIONS: --max_old_space_size=8192
          NODE_ENV: production
        run: |-
          npm run docs:build
          > docs/.vuepress/dist/.nojekyll
      - name: Deploy Docs
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: docs/.vuepress/dist
